.header
  %ul.header__logo
    =link_to root_path do
      =image_tag "fmarket_logo_red", height: 52
  %ul.header__bar
    %ol.clearfix
      %li.through
        会員情報
        .progress-status
      %li.through-two
        電話番号認証
        .progress-status
      %li.through-two
        住所入力
        .progress-status
      %li.active
        支払い方法
        .progress-status
      %li.complete-page
        完了
        .progress-status
.main
  .information
    .information__head
      支払い方法
    .information__main
      = form_for @user, url: "/signup", method: :post do |f|
        = f.fields_for :card do |b|
          = b.label :card_number, 'カード番号', class: 'card'
          %span.form-require 必須
          = b.text_field :card_number, class: 'information__main--form', placeholder: '半角数字のみ'
          = b.label :expiration_month, '有効期限', class: 'expiration-date'
          %span.form-require 必須
          = b.text_field :expiration_month, class: 'information__main--form--double select', placeholder: '01'
          %span.date 月
          = b.text_field :expiration_year, class: 'information__main--form select', placeholder: '19'
          %span.date 年
          = b.label :security_code, 'セキュリティーコード', class: 'security'
          %span.form-require 必須
          = b.password_field :security_code, class: 'information__main--form--double', placeholder: 'カード背面４桁もしくは３桁の番号'
          %p.text-right
            = link_to '' , class: 'reason__link' do
              = icon 'fas', 'question-circle'
              カード裏面の番号とは？
        = f.submit '次へ進む', class: 'information__main--form--button'

.footer
  = link_to "https://www.google.com/", class: 'footer__link' do
    プライバシーポリシー  
  = link_to "https://www.google.com/", class: 'footer__link' do
    メルカリ利用規約  
  = link_to "https://www.google.com/", class: 'footer__link' do
    特定商取引に関する表記
    .footer__logo
      = link_to root_path do
        = image_tag "logo_gray", height: 80