.main__side
  %ul
    %li.main__side__lists
      =link_to '' do
        マイページ
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        お知らせ
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        やることリスト
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        いいね！一覧
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        出品する
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        出品した商品 - 出品中
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        出品した商品 - 取引中
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        出品した商品 - 売却済み
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        出品した商品 - 取引中
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        出品した商品 - 過去の取引
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        ニュース一覧
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        評価一覧
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        ガイド
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        お問い合わせ
        = icon 'fas', 'chevron-right'
  %h3 メルペイ
  %ul.main__side__lists--middle
    %li.main__side__lists
      =link_to '' do
        売上・振込申請
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        ポイント
        = icon 'fas', 'chevron-right'
  %h3 設定
  %ul.main__side__lists--middle
    %li.main__side__lists
      //  TO DO:プロフィールパスの仮置き user_id取得でき次第、edit_user_path(current_user)へ変更予定
      =link_to edit_user_path(:id) do
        プロフィール
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        発送元・お届け先住所変更
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      //  TO DO:支払い方法パスの仮置き
      =link_to card_users_path(:id) do
        支払い方法
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        メール/パスワード
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        本人情報
        = icon 'fas', 'chevron-right'
    %li.main__side__lists
      =link_to '' do
        電話番号の確認
        = icon 'fas', 'chevron-right'
    %li.main__side__lists.main__side__lists--logout
      //  TO DO:プロフィールパスの仮置き 
      =link_to logout_users_path(:id), {controller: "users", action: "index", name: "logout"} do
        ログアウト
        = icon 'fas', 'chevron-right'