= render 'shared/header'

-# ユーザー編集
.nav
  %ul.nav__lists
    %li.nav__lists__list
      - breadcrumb :card
      = breadcrumbs separator: " #{content_tag(:i, '', class: 'fas fa-chevron-right nav__lists__list--icon ' )} "

.main
  .main__right_contents
    .main__right_contents--title
      %h1 支払い方法
    .main__right_contents__inner
      .main__right_contents__inner--title.container
        %h3 クレジットカード一覧
      - if @card
        .main__right_contents__inner__list.container
          .main__right_contents__inner__list__box
            = icon 'far', 'credit-card'
            .main__right_contents__inner__list__box--pay_num
              %p 
                = '************' + @last_4_number
            .main__right_contents__inner__list__box--pay_num
              %p
                = @card.expiration_month + '/' + @card.expiration_year
            .main__right_contents__inner__list__box--button
              = link_to '', class: 'button' do
                削除する
      - else
        .main__rights__contents__inner__list.container
          .main__rights__contents__inner__list--button
            = icon 'far', 'credit-card', class: 'button--icon'
            %span クレジットカードを追加する
      
      .main__right_contents__inner--bottom
        = link_to '' do
          支払い方法について 
          = icon 'fas', 'angle-right', class: 'icon'
          
  = render 'sidebar'

= render 'shared/sellbutton'

= render 'shared/appbanner'

= render 'shared/footer'