= render "header"

//プロフィール編集
.main
  .main--profile_contents
    .main--profile_contents__title
      %h1 プロフィール
    .main--profile_contents__user_name
      = image_tag 'human.svg', alt: '', class: 'user_img'
      %input.user_name{value: "user name" }
    .main--profile_contents__user_message
      %textarea#profile_message{name: "profile_message", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
      %button{type: 'submit'}変更する

  .main--side
    %ul
      = link_to('', {}) do
        %li.main--side--lists
          マイページ
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          お知らせ
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          やることリスト
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          いいね！一覧
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          出品する
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          出品した商品 - 出品中
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          出品した商品 - 取引中
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          出品した商品 - 売却済み
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          出品した商品 - 取引中
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          出品した商品 - 過去の取引
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          ニュース一覧
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          評価一覧
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          ガイド
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          お問い合わせ
          = icon 'fas', 'chevron-right'
    %h3 メルペイ
    %ul.main--side--lists__middle
      = link_to('', {}) do
        %li.main--side--lists
          売上・振込申請
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          ポイント
          = icon 'fas', 'chevron-right'
    %h3 設定
    %ul.main--side--lists__middle
      = link_to('', {}) do
        %li.main--side--lists
          プロフィール
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          発送元・お届け先住所変更
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          支払い方法
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          メール/パスワード
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          本人情報
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          電話番号の確認
          = icon 'fas', 'chevron-right'
      = link_to('', {}) do
        %li.main--side--lists
          ログアウト
          = icon 'fas', 'chevron-right'

.banner
  .banner--inner
    .banner--inner--left
      .banner--inner--left__text
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
      .banner--inner--left__icon
        = image_tag 'box_icon.svg', alt: '', height: '', width: '', class: 'mercari_ic'
        %ul.banner_ic
          %li.banner_appstore
            %a{href: "#"}
              = image_tag 'app-store.svg', alt: '', height: '', width: '', class: ''
          %li.banner_googleplay
            %a{href: "#"}
              = image_tag 'google-play.svg', alt: '', height: '', width: '', class: ''
    .banner--inner--right
      = image_tag 'phone_icon.svg', alt: '', height: '', width: '', class: 'content_pc'

= render "footer"

//出品ボタン
%a{href:"#"}
  .sell-btn{id: "sell-btn"} 
    .sell-btn--text 出品
    = icon 'fas', 'camera'
