.header
  .top
    %h1.top__logo
      =link_to root_path do
        = image_tag "fmarket_logo_red.svg", alt: "mercari", width: 134, height: 36
    %form.top__search
      %input{placeholder: "何かお探しですか？"}
      %button{type: 'submit', class: 'top__search--icon'}
        = icon 'fas', 'search'
  .bottom.clearfix
    %ul.bottom__left
      %li.bottom__left__lists
        %h2.bottom__left__lists
          =link_to '' do
            = icon 'fas', 'list-ul', class: 'bottom__left__lists--icon'
            %span カテゴリーから探す
      %li.bottom__left__lists
        %h2.bottom__left__lists
          =link_to '' do
            = icon 'fas', 'tag', class: 'bottom__left__lists--icon'
            %span ブランドから探す
    %ul.bottom__right
      %li.bottom__right__lists
        %h2.bottom__right__lists
          =link_to '' do
            = icon 'far', 'heart', class: 'bottom__right__lists--icon'
            %span いいね！一覧
      %li.bottom__right__lists
        %h2.bottom__right__lists
          =link_to '' do
            = icon 'far', 'bell', class: 'bottom__right__lists--icon'
            %span お知らせ
      %li.bottom__right__lists
        %h2.bottom__right__lists
          =link_to '' do
            = icon 'fas', 'check', class: 'bottom__right__lists--icon'
            %span やることリスト
      %li.bottom__right__lists
        %h2.bottom__right__lists
          =link_to users_path do
            = image_tag 'human.svg', class: 'bottom__right__lists--profile'
            %span マイページ