-# Viewとscssは仮置き

%h2 購入を確定しますか？
%p
  = @product.name
%p
  = number_to_currency(@product.price, unit: "￥", format: "%u%n")
%span (送料込み)
%br
%h3 支払い方法
- if @card.blank?
  = link_to "クレジットカードを登録する", register_card_users_path, target: :_blank 
- else
  = "**** **** **** " + @card.last4
  = @exp_month + " / " + @exp_year
  = button_to '購入する', action: :purchase
  = link_to "戻る", product_path(params[:product_id])