- if product.present? 
  %li.toppage-main__content
    = link_to "/products/#{product.id}" do
      .toppage-main__image
        = image_tag first_image(product).image.to_s, size: "188x188", class: 'toppage-main__icon'
        -if product.status_id == 5
          .toppage-main__image--red
          .toppage-main__image--sold
            sold
        -if product.status_id == 3
          .toppage-main__image--gray
          .toppage-main__image--stop
            公開停止
        .toppage-main__image--price
          = number_to_currency(product.price, unit: "￥", format: "%u%n")
      .toppage-main__item-name
        .toppage-main__item-name--text
          = product.name