.sell-container
  .sell-header
    %h1
      =link_to root_path do
        = image_tag "fmarket_logo_red.svg"

  .soldout-main
    .soldout-main__attention
      %h3
        = icon 'far', 'clock', class: 'soldout-clock'
        %span 発送をお待ちください
      %p 出品者からの発送通知をお待ちください
    .sodlout-main__complete
    %h2 購入が完了しました
    .soldout-main__product
      = image_tag 'b4a4c8519d3ea7260ffd0e656353d073_t.jpg' ,class: 'soldout_product_img'
      .soldout-main__product__detail
        %p.product__name コアラさん
        .product__pricebox
          %span.product__pricebox__price ¥3,600 
          %span.product__pricebox__tax（税込）送料込み
    .underline
    .soldout-main__payment
      %h3 支払い金額
      %span.payment_price ¥3,600
    .underline
    .soldout-main__shipping_adress
      %h3 配送先
      %p 〒111-1111
      %p 東京都目黒区中央町1-1-1
      %p 佐々木 蔵之介
    .underline
    .soldout-main__payment_card
      %h3 支払い方法
      %p ************1111
      %p 11/11
      = icon 'far', 'credit-card'
    .underline
    .soldout-main__after_message
      %h3 発送通知後の流れ
      .soldout-main__after_message__icon
        = icon 'far', 'stars', class: 'far fa-star'
        = icon 'fas', 'grin', class: 'item_rate--good'
        = icon 'fas', 'meh', class: 'item_rate--normal'
        = icon 'fas', 'frown', class: 'item_rate--bad'
        = icon 'far', 'stars', class: 'far fa-star'
      %p 商品を受け取ったら
      %p 出品者の評価をしましょう。
      %p 購入代金が出品者に振り込まれます。
      %p.last-child 評価後に取引は完了です。
      =link_to users_path do
        マイページへ戻る 







  .sell-footer
    %nav
      %ul.clearfix
        %li
          = link_to '' do
            プライバシーポリシー
        %li
          = link_to '' do
            メルカリ利用規約
        %li
          = link_to '' do
            特定商取引に関する表記
    = link_to 'products#index', class: 'sell-footer__logo' do
      = image_tag 'logo_gray.svg', alt: 'mercari', height: '65', width: '80'
    %p
      %small
        © Fmarket, Inc.
