= render 'shared/header'

.toppage-slider
  = image_tag '4b61123085a986f84c4ae541d24554f9_w.jpeg', height: '390px', width: '100%', class: ''

.toppage-main
  .toppage-main__category-top
    人気のカテゴリー
    %ul.toppage-main__list
      %li.toppage-main__menu
        .toppage-main__logo
          レディース
        .toppage-main__logo
          メンズ
        .toppage-main__logo
          家電・スマホ・カメラ
        .toppage-main__logo
          おもちゃ・ホビー・グッズ

  .toppage-main__category-bottom
    .toppage-main__category-name
      .toppage-main__text
        レディース新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#'
      .toppage-main__item
        %ul.toppage-main__contents
          %li.toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '6037.png', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  %span 100000000円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット・コート・ダウンコート・上着
          %li.toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'inu.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          %li.toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '35720.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          %li.toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'o1500100014557746321.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          %li.toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'o2000133314557402259.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          %li.toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '3a449ef396adb68b285e3c4b3dfdd98d_t.jpeg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          %li.toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '22574-17.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          %li.toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'b4a4c8519d3ea7260ffd0e656353d073_t.jpeg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          %li.toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'IMG_2023-900.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          %li.toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'animal_042-1024x683.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
    .toppage-main__category-name
      .toppage-main__text
        メンズ新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#'
      .toppage-main__item
        .toppage-main__contents
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '6037.png', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  %span 100000000円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット・コート・ダウンコート・上着
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'inu.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '35720.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'o1500100014557746321.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'o2000133314557402259.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '3a449ef396adb68b285e3c4b3dfdd98d_t.jpeg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '22574-17.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'b4a4c8519d3ea7260ffd0e656353d073_t.jpeg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'IMG_2023-900.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'animal_042-1024x683.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
    .toppage-main__category-name
      .toppage-main__text
        家電・スマホ・カメラ新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#'
      .toppage-main__item
        .toppage-main__contents
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '6037.png', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  %span 100000000円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット・コート・ダウンコート・上着
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'inu.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '35720.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'o1500100014557746321.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'o2000133314557402259.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '3a449ef396adb68b285e3c4b3dfdd98d_t.jpeg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '22574-17.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'b4a4c8519d3ea7260ffd0e656353d073_t.jpeg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'IMG_2023-900.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'animal_042-1024x683.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
    .toppage-main__category-name
      .toppage-main__text
        おもちゃ・ホビー・グッズ新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#'
      .toppage-main__item
        .toppage-main__contents
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '6037.png', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  %span 100000000円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット・コート・ダウンコート・上着
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'inu.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '35720.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'o1500100014557746321.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'o2000133314557402259.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '3a449ef396adb68b285e3c4b3dfdd98d_t.jpeg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag '22574-17.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'b4a4c8519d3ea7260ffd0e656353d073_t.jpeg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'IMG_2023-900.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット
          .toppage-main__content
            .toppage-main__image
              = link_to '' do
                = image_tag 'animal_042-1024x683.jpg', height: '188px', width: '188px', class: 'toppage-main__icon'
              .toppage-main__image--price
                = link_to '', class: "toppage-main__icon" do
                  5800円
            .toppage-main__item-name
              = link_to '', class: "toppage-main__item-name--text" do
                ジャケット

= render 'shared/sellbutton'

= render 'shared/appbanner'
  
= render 'shared/footer'