.header
  mercari

.toppage-slider
  = image_tag '4b61123085a986f84c4ae541d24554f9_w.jpeg', height: '390px', width: '1440px', class: ''

.toppage-main
  .toppage-main__category-top
    人気のカテゴリー
    %ul.toppage-main__list
      %li.toppage-main__menu
        .toppage-main__logo
          レディース
        .toppage-main__logo
          メンズ
        .toppage-main__logo
          家電・スマホ・カメラ
        .toppage-main__logo
          おもちゃ・ホビー・グッズ

  .toppage-main__category-bottom
    .toppage-main__category-name
      .toppage-main__text
        レディース新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#'
      .toppage-main__item
        .toppage-main__contents
          .toppage-main__content
            .toppage-main__image
              = image_tag '6037.png', height: '188px', width: '188px', class: ''
              .toppage-main__image--price
                5800円
            .toppage-main__item-name
              ジャケット
          .toppage-main__content
            .toppage-main__image
              = image_tag 'inu.jpg', height: '188px', width: '188px', class: ''
              .toppage-main__image--price
                5800円
            .toppage-main__item-name
              ジャケット
          .toppage-main__content
            .toppage-main__image
              = image_tag '35720.jpg', height: '188px', width: '188px', class: ''
              .toppage-main__image--price
                5800円
            .toppage-main__item-name
              ジャケット
          .toppage-main__content
            .toppage-main__image
              = image_tag 'o1500100014557746321.jpg', height: '188px', width: '188px', class: ''
              .toppage-main__image--price
                5800円
            .toppage-main__item-name
              ジャケット
          .toppage-main__content
            .toppage-main__image
              = image_tag 'o2000133314557402259.jpg', height: '188px', width: '188px', class: ''
              .toppage-main__image--price
                5800円
            .toppage-main__item-name
              ジャケット
          .toppage-main__content
            .toppage-main__image
              = image_tag '3a449ef396adb68b285e3c4b3dfdd98d_t.jpeg', height: '188px', width: '188px', class: ''
              .toppage-main__image--price
                5800円
            .toppage-main__item-name
              ジャケット
          .toppage-main__content
            .toppage-main__image
              = image_tag '22574-17.jpg', height: '188px', width: '188px', class: ''
              .toppage-main__image--price
                5800円
            .toppage-main__item-name
              ジャケット
          .toppage-main__content
            .toppage-main__image
              = image_tag 'b4a4c8519d3ea7260ffd0e656353d073_t.jpeg', height: '188px', width: '188px', class: ''
              .toppage-main__image--price
                5800円
            .toppage-main__item-name
              ジャケット
          .toppage-main__content
            .toppage-main__image
              = image_tag 'IMG_2023-900.jpg', height: '188px', width: '188px', class: ''
              .toppage-main__image--price
                5800円
            .toppage-main__item-name
              ジャケット
          .toppage-main__content
            .toppage-main__image
              = image_tag 'animal_042-1024x683.jpg', height: '188px', width: '188px', class: ''
              .toppage-main__image--price
                5800円
            .toppage-main__item-name
              ジャケット

.aside
  
.footer
  .nav
    %ul.nav__about
      メルカリについて
      %li
        会社概要（運営会社）
      %li
        採用情報
      %li
        プレスリリース
      %li
        公式ブログ
      %li
        メルカリロゴ利用ガイドライン
    %ul.nav__help-guide
      ヘルプ＆ガイド
      %li
        メルカリガイド
      %li
        らくらくメルカリ便
      %li
        ゆうゆうメルカリ便
      %li
        大型メルカリ便
      %li
        車体取引ガイド
      %li
        メルカリあんしん・あんぜん宣言！
      %li
        偽ブランド品撲滅への取り組み
      %li
        メルカリボックス
    %ul.nav__privacy
      プライバシーと利用規約
      %li
        プライバシーポリシー
      %li
        あんしんスマホサポート制度に関する利用特約
      %li
        コンプライアンスポリシー
    %ul.nav__privacy
      %br
      %li
        個人データの安全管理に係る基本方針
      %li
        特定商取引に関する表記
      %li
        資金決済法に基づく表示
      %li
        法令順守と犯罪抑止のために
    %ul.nav__country
      国
      %li
        日本
      %li
        United States


