= render 'shared/header'

.item_detail_container
  .item_detail_container--main
    .item_detail_container--main--item_name
      %h1 トラさん
    .item_detail_container--main--item_detail
      .item_detail_container--main--item_detail--left
        .item_detail_container--main--item_detail--left--top
          .bg_photo
            = image_tag '22574-17.jpg', class: ''
        .item_detail_container--main--item_detail--left--bottom
          .sm_photos
            = image_tag '22574-17.jpg', class: ''
          .sm_photos
            = image_tag '22574-17.jpg', class: ''
          .sm_photos
            = image_tag '22574-17.jpg', class: ''
          .sm_photos
            = image_tag '22574-17.jpg', class: ''
          .sm_photos
            = image_tag '22574-17.jpg', class: ''
          .sm_photos
            = image_tag '22574-17.jpg', class: ''
          .sm_photos
            = image_tag '22574-17.jpg', class: ''
          .sm_photos
            = image_tag '22574-17.jpg', class: ''
          .sm_photos
            = image_tag '22574-17.jpg', class: ''
          -# .sm_photos
          -#   = image_tag '22574-17.jpg', class: ''



      .item_detail_container--main--item_detail--right
        %table
          %tr
            %th 出品者
            %td
              =link_to '' do
                虎之助
              %div
                .item_rate
                  = icon 'fas', 'grin', class: 'item_rate__good'
                  %span 10
                .item_rate
                  = icon 'fas', 'meh', class: 'item_rate__normal'
                  %span 5
                .item_rate
                  = icon 'fas', 'frown', class: 'item_rate__bad'
                  %span 1
          %tr
            %th カテゴリー
            %td
              =link_to '' do
                %span おもちゃ・ホビー・グッズ
              %br/
              =link_to '' do
                = icon 'fas', 'angle-right'
                %span おもちゃ
              %br/
              =link_to '' do
                = icon 'fas', 'angle-right'
                %span ぬいぐるみ
          %tr
            %th ブランド
            %td
              =link_to '' do
                サファリ
          %tr
            %th 商品の状態
            %td やや傷や汚れあり
          %tr
            %th 配送料の負担
            %td 送料込み（出品者負担）
          %tr
            %th 配送の方法
            %td 大型らくらくメルカリ便
          %tr
            %th 配送元の地域
            %td
              =link_to '' do
                神奈川県
          %tr
            %th 発送日の目安
            %td 4~7日で発送

    .item_detail_container--main--price_box
      .item_detail_container--main--price_box__item_price
        %span ¥1,000,000円
      .item_detail_container--main--price_box__item_tax
        %span （税込）
      .item_detail_container--main--price_box__item_fee
        %span 送料込み
    .item_detail_container--main--item_buy_button
      =link_to '' ,class: '' do
        購入画面に進む
    .item_detail_container--main__pc_error_text
      この商品は大型らくらくメルカリ便を利用しているため、アプリからのみ購入できます。
    .item_detail_container--main__item_text
      本物にそっくりのトラのぬいぐるみです。
      %br/
      大きさも２メートルあり、飾っておくだけでも迫力があります。
      %br/
      %br/
      大きなぬいぐるみなので圧縮してお送りします。
      %br/
      多少シワが残る可能性があるのでご了承ください。
    .item_detail_container--main--bottom
      .item_detail_container--main--bottom--left
        .item_detail_container--main--bottom--left__like_button
          = icon 'far', 'heart'
          %span いいね!
          %span.like_num 10
        .item_detail_container--main--bottom--left__report
          = icon 'far', 'flag'
          不適切な商品の報告
      .item_detail_container--main--bottom__right
        =link_to '' ,class: '' do
          = icon 'fas', 'lock'
          あんしん・あんぜんへの取り組み

  .item_detail_container--message_contents
    .item_detail_container--message_contents--message_list
      %ul
        %li
          .message_list--user
            .message_list--user__icon
              = image_tag 'human.svg', alt: '', height: '', width: '', class: ''
            .message_list--user__name
              たろう
          .message_list--box
            .message_list--box__text
              ぬいぐるみ欲しいです
            .message_list--box__date
              = icon 'far', 'clock'
              %span 16日前
            = icon 'fas', 'caret-left', class:'icon_bubble'
            


  .item_detail_container--message_contents
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %textarea.product_detail_textarea
    = link_to '', {class: 'product_detail_textarea__btn'} do
      コメントする
  